<!-- Modal Chỉnh Sửa Danh Mục -->
<div
  class="modal fade"
  id="editCategoryModal"
  tabindex="-1"
  aria-labelledby="editCategoryModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content p-4 custom-modal">
      <!-- Tiêu Đề Modal -->
      <div class="modal-header border-0">
        <h3 class="modal-title fw-bold" id="editCategoryModalLabel">
          Chỉnh Thể Loại Sách
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <!-- Nội Dung Modal -->
      <div class="modal-body">
        <form action="/api/category/update" method="POST">
          <!-- Input Ẩn Chứa ID Danh Mục -->
          <input type="hidden" id="edit_category_id" name="category_id" />

          <!-- Nhập Tên Danh Mục -->
          <div class="mb-3">
            <label
              for="edit_category_name"
              class="form-label fw-bold text-secondary"
            >
              Tên Thể Loại
            </label>
            <input
              type="text"
              class="form-control"
              id="edit_category_name"
              name="name"
              placeholder="Nhập tên thể loại"
            />
          </div>

          <!-- Nhập Mô Tả -->
          <div class="mb-3">
            <label
              for="edit_category_description"
              class="form-label fw-bold text-secondary"
            >
              Mô Tả
            </label>
            <textarea
              class="form-control"
              id="edit_category_description"
              name="description"
              placeholder="Nhập mô tả"
              rows="6"
              style="resize: vertical; min-height: 200px; width: 100%"
            ></textarea>
          </div>

          <!-- Nút Cập Nhật -->
          <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-lg">
              Cập nhật danh mục
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
