<!-- Header -->
<%- include('layouts/header',{title: 'Trang Chủ'})%>
<!-- Sidebar -->
<%- include('layouts/sidebar')%>
<!-- Main Content -->
<!-- Nội dung chính -->
<div class="main-content flex-grow-1 p-4">
  <div class="content-container">
    <h3>Dashboard</h3>
    <p>Nội dung đang được cập nhật...</p>
  </div>
</div>
</div>
<!-- Footer -->
<%- include('layouts/footer')%>
