<!-- Modal Xác Nhận Xóa -->
<div
  class="modal fade"
  id="deleteConfirmModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">Xác nhận xóa</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa sách này không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Hủy
        </button>
        <button type="button" class="btn btn-danger" id="confirmDeleteBtn">
          Xóa
        </button>
      </div>
    </div>
  </div>
</div>
