<nav class="sidebar">
  <div class="library-brand">
    <h3><i class="fas fa-book me-2"></i>Thư Viện</h3>
    <small class="text-light">Hệ thống quản lý</small>
  </div>

  <ul class="nav flex-column mt-3">
    <li class="nav-item">
      <a class="nav-link" href="#dashboard">
        <i class="fas fa-chart-line"></i>
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users">
        <i class="fas fa-users"></i>
        Quản lý người dùng
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/books">
        <i class="fas fa-book"></i>
        Quản lý sách
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/category">
        <i class="fa-solid fa-layer-group" style="color: #ffffff"></i> Quản lý
        danh mục
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#members">
        <i class="fas fa-address-card"></i>
        Thành viên
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#transactions">
        <i class="fas fa-exchange-alt"></i>
        Mượn/Trả sách
      </a>
    </li>
  </ul>
  <button id="toggleSidebar" class="btn-icon">
    <i class="fas fa-bars"></i>
  </button>
</nav>
